/* .blue {
    background-color: blue;
    order: 1;
} */

 /* order gali buti reikalingas, kai norim padaryti kad skirtinguose ekranu dydziuose butu tam tikras isdeliojimas
    kuo orderis didesnis, jis eina i gala!
    developer toolse galima paspausti flex ir paziureti kaip atrodo flexas
    prie display galima paspausti kvadratelius ir ten issirinkti kaip norime, kad atrodytu */

/* .green {
    background-color: green;

    align-self: flex-start;
}

.red {
    background-color: red;
}

.child {
    height: 100px;
    width: 100px;
} */

/* .container {
    background-color: #c0c0c0;
    height: 500px;
    width: 500px;

    display: flex;

    flex-direction: row-reverse;

    justify-content: center;

    align-items: center;
} */

/* justify-content reguliuoja pagrindinę ašį
align-items reguliuoja pagalbionėje ašyje
baseline sulygiuoja pagal tekstą */

/* dažnai atsidaryti css-tricks.com */

.green {
    background-color: green;}

.red {
    background-color: red;}

.blue {
    background-color: blue;}

.pink {
    background-color: pink;
  }
.orange {
    background-color: orange;}

.purple {
    background-color: purple;}

.turquoise {
    background-color: turquoise;
}
.blueviolet {
    background-color: blueviolet;
}

.teal {
    background-color: teal;
}

.container {
    background-color: lightgray;
    height: 600px;
    width: 600px;
    margin-bottom: 30px;}

  .container-1 {
    display: flex;
    flex-wrap: wrap;
  }
  /* .container-1 .child:nth-child(1) {
    height: 200px;
    width: 200px;
  }
  .container-1 .child:nth-child(2) {
    height: 200px;
    width: 400px;
  }
  .container-1 .child:nth-child(3) {
    height: 200px;
    width: 400px;
  }
  .container-1 .child:nth-child(4) {
    height: 200px;
    width: 200px;
  }
  .container-1 .child:nth-child(5) {
    height: 200px;
    width: 200px;
  }
  .container-1 .child:nth-child(6) {
    height: 200px;
    width: 400px;
  } */
  /* ANTRAS VARIANTAS */
  /* .container-1 .child:nth-child(1),
  .container-1 .child:nth-child(4),
  .container-1 .child:nth-child(5) {
    height: 200px;
    width: 200px;
  }
  .container-1 .child:nth-child(2),
  .container-1 .child:nth-child(3),
  .container-1 .child:nth-child(6) {
    height: 200px;
    width: 400px;
  } */
  /* TREČIAS VARIANTAS */
  .container-1 .child {
    height: 200px;
  }
  .container-1 .child:nth-child(1),
  .container-1 .child:nth-child(4),
  .container-1 .child:nth-child(5) {
    width: 200px;
  }
  .container-1 .child:nth-child(2),
  .container-1 .child:nth-child(3),
  .container-1 .child:nth-child(6) {
    width: 400px;
  }

  /* .container-3 .child:nth-child(1) {
    height: 400px;
    width: 400px;
  }
  .container-3 .child:nth-child(2),
  .container-3 .child:nth-child(3),
  .container-3 .child:nth-child(4),
  .container-3 .child:nth-child(5),
  .container-3 .child:nth-child(6) {
    height: 200px;
    width: 200px;
  } */
  /* .container-3 .child {
    height: 200px;
    width: 200px;
  }
  .container-3 .child:nth-child(1) {
    height: 400px;
    width: 400px;
  } */

  .container-2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .container-2 .child {
    width: 200px;
  }
  .container-2 .child:nth-child(1),
  .container-2 .child:nth-child(4),
  .container-2 .child:nth-child(5) {
    height: 200px;
  }
  .container-2 .child:nth-child(2),
  .container-2 .child:nth-child(3),
  .container-2 .child:nth-child(6) {
    height: 400px;
  }



  .container-3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .container-3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .container-3 .inner-container:nth-child(1) {
    height: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .container-3 .inner-container:nth-child(1) .child:nth-child(1) {
    width: 400px;
    height: 400px;
  }
  .container-3 .inner-container:nth-child(1) .child:nth-child(2),
  .container-3 .inner-container:nth-child(1) .child:nth-child(3) {
    width: 200px;
    height: 200px;
  }
  .container-3 .inner-container:nth-child(2) {
    height: 200px;
    display: flex;
  }
  .container-3 .inner-container:nth-child(2) .child {
    height: 200px;
    width: 200px;
  }


.container-4 {
display: flex;
flex-wrap: wrap;
flex-direction: row;   
}

.container-4 .inner-container:nth-child(1),
.container-4 .inner-container:nth-child(3) {
    height: 150px;
    display: flex;
    flex-direction: row;
}

.container-4 .inner-container:nth-child(1) .child:nth-child(1),
.container-4 .inner-container:nth-child(1) .child:nth-child(3) {
width: 250px;
}
.container-4 .inner-container:nth-child(1) .child:nth-child(2) {
    width: 100px;
}

.container-4 .inner-container:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 300px;
}

.container-4 .inner-container:nth-child(2) .child:nth-child(1),
.container-4 .inner-container:nth-child(2) .child:nth-child(2),
.container-4 .inner-container:nth-child(2) .child:nth-child(4),
.container-4 .inner-container:nth-child(2) .child:nth-child(5) {
    width: 150px;
    height: 150px;   
}

.container-4 .inner-container:nth-child(2) .child:nth-child(3) {
    width: 300px;
    height: 300px;
}

.container-4 .inner-container:nth-child(3) .child:nth-child(1),
.container-4 .inner-container:nth-child(3) .child:nth-child(3) {
width: 250px;
}
.container-4 .inner-container:nth-child(3) .child:nth-child(2) {
    width: 100px;
}


.container-5 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;   
    }

.container-5 .inner-container:nth-child(1),
.container-5 .inner-container:nth-child(2),
.container-5 .inner-container:nth-child(3),
.container-5 .inner-container:nth-child(2) .child:nth-child(2) {
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.container-5 .inner-container:nth-child(1) .child:nth-child(1),
.container-5 .inner-container:nth-child(3) .child:nth-child(2),
.container-5 .inner-container:nth-child(2) .child:nth-child(1),
.container-5 .inner-container:nth-child(2) .child:nth-child(2),
.container-5 .inner-container:nth-child(2) .child:nth-child(3) {
    width: 200px;
    height: 200px;
}

.container-5 .inner-container:nth-child(1) .child:nth-child(2),
.container-5 .inner-container:nth-child(3) .child:nth-child(1) {
    width: 400px;
    height: 200px;
}

.container-5 .inner-container:nth-child(2) .child:nth-child(2) .child {
    width: 100px;
    height: 100px;
}



.container-6 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;  
    }

.container-6 .inner-container:nth-child(1),
.container-6 .inner-container:nth-child(2)
 {
    height: 300px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.container-6 .inner-container:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.container-6 .inner-container:nth-child(2) .child:nth-child(1),
.container-6 .inner-container:nth-child(2) .child:nth-child(2),
.container-6 .inner-container:nth-child(2) .child:nth-child(3) {
    width: 200px;
    height: 300px;
}

.container-6 .inner-container:nth-child(2) .special {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.container-6 .inner-container:nth-child(2) .special .child:nth-child(1),
.container-6 .inner-container:nth-child(2) .special .child:nth-child(2) {
    height: 150px;
    width: 100px;
}

.container-6 .inner-container:nth-child(2) .special .child:nth-child(3) {
    height: 150px;
    width: 200px;
}



.container-7 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;  
}

.container-7 .inner-container:nth-child(1),
.container-7 .inner-container:nth-child(2) {
    height: 300px;
    width: 600px;
}

.container-7 .inner-container:nth-child(1) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;     
}

.container-7 .inner-container:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;     
}

.container-7 .inner-container:nth-child(1) .child:nth-child(1),
.container-7 .inner-container:nth-child(2) .child:nth-child(3) {
    width: 450px;
    height: 300px;
}

.container-7 .inner-container:nth-child(1) .child:nth-child(2),
.container-7 .inner-container:nth-child(1) .child:nth-child(3),
.container-7 .inner-container:nth-child(2) .child:nth-child(1),
.container-7 .inner-container:nth-child(2) .child:nth-child(2) {
    width: 150px;
    height: 150px; 
}


.container-8 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;  
}

.container-8 .inner-container:nth-child(1),
.container-8 .inner-container:nth-child(2)
 {
    height: 300px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.container-8 .inner-container:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
}

.container-8 .inner-container:nth-child(2) .child:nth-child(1),
.container-8 .inner-container:nth-child(2) .child:nth-child(2),
.container-8 .inner-container:nth-child(2) .child:nth-child(4),
.container-8 .inner-container:nth-child(2) .child:nth-child(5) {
    width: 200px;
    height: 150px;
}

.container-8 .inner-container:nth-child(2) .child:nth-child(3) {
    width: 200px;
    height: 300px;
}


.container-9 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column  
}

.container-9 .inner-container:nth-child(1) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    height: 600px; 
}

.container-9 .inner-container:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    height: 400px;
    width: 400px;
}

.container-9 .inner-container:nth-child(1) {
    width: 200px;
}

.container-9 .inner-container:nth-child(1) .child:nth-child(1) {
    height: 300px;
    width: 200px;
}

.container-9 .inner-container:nth-child(1) .child:nth-child(2),
.container-9 .inner-container:nth-child(1) .child:nth-child(3) {
    height: 100px;
    width: 100px;
}

.container-9 .inner-container:nth-child(1) .child:nth-child(4) {
    height: 200px;
    width: 200px;
}

.container-9 .inner-container:nth-child(2) .child:nth-child(1),
.container-9 .inner-container:nth-child(2) .child:nth-child(2),
.container-9 .inner-container:nth-child(2) .child:nth-child(3) {
    height: 100px;
    width: 133px;
}

.container-9 .inner-container:nth-child(2) .child:nth-child(4) {
    height: 300px;
    width: 400px;
}

.container-9 .inner-container:nth-child(3) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
    height: 200px;
    width: 400px; 
}

.container-9 .inner-container:nth-child(3) .child:nth-child(1) {
    height: 200px;
    width: 250px;
}

.container-9 .inner-container:nth-child(3) .child:nth-child(2),
.container-9 .inner-container:nth-child(3) .child:nth-child(3) {
    height: 100px;
    width: 150px;
}


.container-10, .container-10 .inner-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
}

.container-10 {
    height: 600px;
    width: 600px; }

.container-10 .inner-container { 
    height: 200px;
    width: 600px;
}

.container-10 .inner-container:nth-child(1) .child:nth-child(1),
.container-10 .inner-container:nth-child(3) .child:nth-child(1),
.container-10 .inner-container:nth-child(2) .child:nth-child(4) { 
    height: 200px;
    width: 300px;
}

.container-10 .inner-container:nth-child(1) .child:nth-child(4),
.container-10 .inner-container:nth-child(3) .child:nth-child(4),
.container-10 .inner-container:nth-child(2) .child:nth-child(1) { 
    height: 200px;
    width: 200px;
}

.container-10 .inner-container:nth-child(1) .child:nth-child(2),
.container-10 .inner-container:nth-child(1) .child:nth-child(3),
.container-10 .inner-container:nth-child(3) .child:nth-child(2),
.container-10 .inner-container:nth-child(3) .child:nth-child(3),
.container-10 .inner-container:nth-child(2) .child:nth-child(2),
.container-10 .inner-container:nth-child(2) .child:nth-child(3) { 
    height: 100px;
    width: 100px;
}


.container-11 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 600px;
    width: 600px;
}

.container-11 .inner-container:nth-child(1) {
    width: 600px;
    height: 500px;
}

.container-11 .inner-container:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 600px;
    height: 100px;
}

.container-11 .inner-container:nth-child(2) .child:nth-child(1),
.container-11 .inner-container:nth-child(2) .child:nth-child(2),
.container-11 .inner-container:nth-child(2) .child:nth-child(3),
.container-11 .inner-container:nth-child(2) .child:nth-child(4),
.container-11 .inner-container:nth-child(2) .child:nth-child(5) {
    width: 100px;
    height: 100px;
}


.container-12 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 600px;
    height: 600px;
}

.container-12 .child {
    width: 100px;
    height: 600px;
}


.container-13 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 600px;
    height: 600px;
}

.container-13 .child {
    width: 600px;
    height: 100px;
}


.container-14,
.container-15 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 600px;
    height: 600px;
}

.container-14 .inner-container {
    width: 300px;
    height: 300px;
}

.container-14 .inner-container:nth-child(1) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.container-14 .inner-container:nth-child(1) .child:nth-child(1),
.container-14 .inner-container:nth-child(1) .child:nth-child(2) {
    width: 150px;
    height: 100px;
}

.container-14 .inner-container:nth-child(1) .child:nth-child(3) {
    width: 300px;
    height: 200px;
}

.container-14 .inner-container:nth-child(2),
.container-14 .inner-container:nth-child(3) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.container-14 .inner-container:nth-child(2) .child:nth-child(1),
.container-14 .inner-container:nth-child(3) .child:nth-child(1) {
    width: 150px;
    height: 300px;
}

.container-14 .inner-container:nth-child(2) .child:nth-child(2),
.container-14 .inner-container:nth-child(2) .child:nth-child(3),
.container-14 .inner-container:nth-child(2) .child:nth-child(4),
.container-14 .inner-container:nth-child(3) .child:nth-child(2),
.container-14 .inner-container:nth-child(3) .child:nth-child(3),
.container-14 .inner-container:nth-child(3) .child:nth-child(4) {
    width: 150px;
    height: 100px;
}

.container-15 .inner-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 600px;
    height: 150px;
}

.container-15 .inner-container:nth-child(1),
.container-15 .inner-container:nth-child(3) {
    
}